<div>
    <a href="index.php"><< Retour</a>
</div>
<h3>Commentaire</h3>
<ul>
    <li>Date : <?=$date?></li>
    <li>Nom : <?=$name?></li>
    <li>Note : <?=$note?></li>
    <li>Contenu :</li>
    <textarea readonly cols="30" rows="10"><?=$text?></textarea>
</ul>