<h3>Tous les commentaires</h3>
<?php
if ($error != null) { ?>
  <p style="color: red;"><?=$error?><p>
<?php
} else {
  try {
    $comments = $em->Indexes()->getAll();
  } catch (Excepton $error) {
    ?> <p style="color: red;"><?=$error->getMessage()?><p> <?php
  }
}
if (!count($comments)) { ?>
<p>Aucun commentaire disponible.</p>
<?php } ?>
<ol>
<?php foreach ($comments as $comment) { ?>
    <li>
        <a href="view.php?<?=$comment->getComment()->getCode()?>">Noté <?=$comment->getNote()?> par <?=$comment->getName()?> (<?=$comment->getTime()?>)</a>
    </li>
<?php } ?>
</ol>
